[submodule "core/libs/pyslvs"]
	path = depend/pyslvs
	url = https://github.com/KmolYuan/pyslvs.git
[submodule "depend/solvespace"]
	path = depend/solvespace
	url = https://github.com/KmolYuan/solvespace.git
