#Travis-Ci
sudo: required
language: python

matrix:
  include:
    - python: 3.6
      dist: xenial
    - python: 3.7
      dist: xenial

branches:
  only:
    - master
    - /^dev\d*[.]?\d*$/

before_install:
  #SWIG & graphviz
  - sudo apt -y install swig graphviz

script:
  - make

before_cache:
  - rm -rf $HOME/.cache/pip/log

cache:
  directories:
    - $HOME/.cache/pip
