setuptools
wheel
requests
pyqt5; sys_platform != 'win32'
pyqtchart; sys_platform != 'win32'
pyqt5<=5.12.2; sys_platform == 'win32'
pyqtchart<=5.12.2; sys_platform == 'win32'
ezdxf
numpy<1.17
cython
openpyxl
psutil
peewee
lark-parser
pygments
pyyaml
