name: Python type check
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install pip mypy -U
          pip install -e . -U
      - name: Lint with mypy
        run: mypy -m pyslvs_ui
